<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <title>MyMission2</title>
    <!--<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"> <!--this is the tab icon-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" /> <!--connects to css bootstrap-->
    <link rel="stylesheet" href="css/default.css" /> <!--connects to my own css-->
</head>

<body>
    <nav>
        <a asp-controller="MyView" asp-action="Index">Home</a>
        <a asp-controller="MyView" asp-action="Calculator">GradeCalculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="lib/jquery/jquery.js"></script> <!--allows me to use jquery-->
</body>
</html>
