@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MyMission3";
}

<h1>Joshua Baxter</h1>
<img src="img/violin.jpg" width="500" height="400" />

<p width>From this class I hope to get a better understanding of how programming works at the Enterprise level. I hope to gain a greater understanding of what big businesses are looking for in application development so that as an entrepreneur I can deliver better solutions to fit their needs</p>
<h2>My top 3 jobs:</h2>
<ol>
    <li>Tech Entrepreneur</li>
    <li>Penetration Tester</li>
    <li>Front-end web developer</li>
</ol>

